@charset "UTF-8";
@import "bootstrap";

header.page-header {
    margin-top: 1rem;
}

.container {
    max-width: 32em;
}

.logo {
    height: 90px;
    color: transparent;
    background: no-repeat center/contain url("./bitter-logo.png") transparent;
    background-clip: padding-box;
}

/* Composer styles */

.counter {
    float: right;
    font-weight: bold;
    font-size: larger;
    transition: color 400ms;
}


.counter-warning {
    color: #D91;
}

.counter-invalid {
    color: #D00;
}

button[disabled] {
    cursor: not-allowed;
}

/* Message displayer. */
.message-avatar {
    max-width: 3em;
    border-radius: 2px;
    box-shadow: 0 0px 5px 2px rgba(0,0,0,0.2);
}

.message-list {
    margin: 20px 0;
}

/********************************** Media ***********************************/
.media-left {
    margin-right: 1rem;
}
