@import "bootstrap";

.container {
    max-width: 32em;
}

.counter {
    float: right;
    font-weight: bold;
    font-size: larger;
    transition: color 400ms;
}


.counter-warning {
    color: #D91;
}

.counter-invalid {
    color: #D00;
}

button[disabled] {
    cursor: not-allowed;
}
